body {
  background: rgb(246, 246, 250);
  background: linear-gradient(180deg, rgba(246, 246, 250, 1) 0%, rgba(0, 128, 128, 1) 100%);
  color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

/* Navbar customization */
.navbar-light {
  background-color: #008080 !important;
}

#brand1 {
  color: #f6f2f2 !important;
  font-weight: bold !important;
  font-size: 2.0rem !important;
}

#brand2 {
  color: #59bebe !important;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

/* Center event cards */
.event-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.eventCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  height: 450px;
}

.btn-add {

  height: 50px !important;
  border-radius: 10px !important;
  font-size: 1.2rem !important;
  background-color: #f5f7f7 !important;
  border: none;
  color: #008080 !important;
  padding: 10px;

}

.btn-add:hover {
  opacity: 0.6
}

.btn-view {
  border-radius: 10px !important;
  font-size: 1.2rem !important;
  background-color: #3a959b !important;
  border: none;
  color: #f9fefe !important;
  padding: 0px 10px 0px 10px;

}

.btn-edit {

  border-radius: 10px !important;
  font-size: 1.2rem !important;
  background-color: #dfb55c !important;
  border: none;
  color: #f9fefe !important;
  padding: 0px 10px 0px 10px;

}

.btn-delete {
  border-radius: 10px !important;
  font-size: 1.2rem !important;
  background-color: #e04b4b !important;
  border: none;

}

.card-event {
  max-width: 800px;
  /* Set a uniform width for all cards */
  width: 100%;
}

.fixed-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

}


.fixed-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.tag-pill {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em;
  color: #fff;
  background-color: #6c757d;
  border-radius: 0.2rem;
}

.login-card {
  background-color: #dcf3f3 !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #008080 !important;
  width: 500px !important;
  margin-bottom: 20%;
}

.btn-primary {
  width: 80% !important;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #008080 !important;
  border: none;
  color: #f4f7f7;
}

.btn-primary:hover {
  background-color: #b6eaea !important;
}

.btn-center {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../images/hero.png');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  /* Directly blur the background image */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white !important;
}

.lead {
  font-size: 25px !important;
}

.scroll-button {
  margin-top: 20px;
  background-color: #008080;
  color: #ffffff !important;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: #00b3b3;
}

@media (max-width: 768px) {
  .hero-section {
    height: 100vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .scroll-button {
    font-size: 1.5rem;
  }
}


.topbox {
  margin-top: 5%;
  background-color: none;
  color: #fff;


}

.bottombox {
  background-color: #f4f7f7;
  padding-top: 5%;
}

#eventImage {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#eventImageLarge {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  object-fit: cover;
  object-position: center;
}

.title-box {
  margin-top: 10rem;
}

.title-box p+p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {

  /* 992px is the breakpoint for 'lg' in Bootstrap */
  .textContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensures it occupies full height for alignment */
  }


}

.d-flex.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Optional, ensures full height for better alignment */
}

#voteBox {
  border: 3px solid #008080;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;

}

h1 {
  color: #008080;
  font-size: 36px;
}

h2 {
  color: #008080 !important;
  font-size: 24px;
}

h3 {
  color: #dcf3f3;
  font-size: 18px !important;
}

#eventInfo {
  color: rgb(57, 57, 57) !important;
}

.border {
  border-color: #008080 !important;
}

.table-container {
  margin-bottom: 10%;

}

table {
  width: 100%;
  border-collapse: collapse;

}

th,
td {
  border: 1px solid #dddddd !important;
  text-align: left;
  padding: 8px;

}

th {
  background-color: #f2f2f2 !important;
}

.button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.tag-pill {
  padding: 0.2rem 0.5rem;
  background-color: #d63384;
  color: white;
  border-radius: 50px;
  display: inline-block;

}

.addEventContainer {
  margin-bottom: 20%;
  margin-top: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #008080;
  color: white;
}

#eventName {
  font-size: 32px !important;
}

#eventDate {
  font-size: 24px;

}

.confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}


/* Styling for the confirmation box */
.confirmation-box {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: #008080 !important;
  font-size: 1.1rem !important;
}

#description {

  text-align: justify;
}

#infobox {
  padding-right: 20%;
}

#voteCount {
  border: 3px solid #008080 !important;
  padding: 0.5rem;
  font-size: 48px;
  font-weight: bolder;
  border-radius: 8px;
}

#btn-back {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fdfefe;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#btn-back:hover {
  opacity: 0.6
}

.tag-pill {
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em;
  color: #fff;
  border-radius: 0.2rem;
}

/* Different colors for different tags */
.tag-pill-tag1 {
  background-color: #28a745
    /* Blue */
}

.tag-pill-tag2 {
  background-color: #bf407f;
  /* Green */
}

.tag-pill-tag3 {
  background-color: #dc3545;
  /* Red */
}

footer {
  background-color: #333;
  /* Dark background color */
  color: #fff;
  /* White text */
  margin-top: 32px;
  font-size: 0.9em;
}

/* Container fluid and row styling */


footer .row {
  margin: 0;
  padding: 10px 0;
}

/* Footer Branding */
footer .footer-text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff !important;
}

footer .f-links a.btn-footer {
  color: #aaa !important;
  font-size: 1em;
  margin-right: 10px;
  text-decoration: none;
}

.footer-button {
  color: #aaa !important;
  background-color: #444;
  border: none;
  padding: 10px;
  font-size: 0.9em;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-button:hover {
  background-color: #555;
  color: #fff;
}


/* Responsive alignment for footer button */
.container-fluid.d-flex.justify-content-end {
  padding-right: 15px;
}

.footer-link-bottom {
  color: #aaa !important;
  font-size: 1rem !important;
}

.footer-bottom {
  background-color: #222;
  color: #aaa;
  padding: 5px 5px;
  font-size: 0.8em;
  text-align: center;
}

ul .navbar-nav {
  font-size: 1.5rem !important;
}