{% extends 'base.html' %}
{% block content %}
    
<br>
<br>
<h1>Events</h1>
   <table>
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Location</th>
                <th>Status</th>
                <th>Votes</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.eventId }}</td>
                <td>{{ event.eventName }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.tag.value }}</td>
                <td>{{ event.votes }}</td>
                <td>
                    {% if event.image_url %}
                    <img src="{{ url_for('static', filename='/images' + event.image_url) }}" alt="Event Image" style="max-width:100px;">
                    {% else %}
                    No image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('admin_event_detail', event_id=event.eventId) }}" class="button">View</a>
                    <a href="{{ url_for('edit_event', event_id=event.eventId) }}" class="button">Edit</a>
                    <form action="{{ url_for('delete_event', event_id=event.eventId) }}" method="post" style="display:inline;">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">No events found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('add_event') }}" class="btn-add">Add New Event</a><br><br>
   
{% endblock %}
</div>
