{% extends 'base.html' %}

{% block content %}
<div class="container addEventContainer"></container>
    <h2>Edit Event</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="eventName">Event Name:</label><br>
        <input type="text" id="eventName" name="eventName" class="form-control" value="{{ event.eventName }}" required><br>
        <label for="date">Date:</label><br>
        <input type="text" id="date" name="date" class="form-control" value="{{ event.date }}" required><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" class="form-control" value="{{ event.location }}" required><br>
        <label for="description" >Description:</label><br>
        <textarea id="description" name="description" class="form-control">{{ event.description }}</textarea><br><br>
        <div class="form-group">
            <label for="tag">Tag</label>
            <select class="form-control" id="tag" name="tag" required>
                {% for status in EventStatus %}
                    <option value="{{ status.name }}" class="form-control" {% if event.tag == status %}selected{% endif %}>{{ status.value }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="image">Event Image:</label><br>
        <input type="file" id="image_url" name="image_url" class="form-control" accept="image/*"><br><br>   
        
        <input type="submit" class="btn-add" value="Update Event"><br><br>
        
    </form>
   
</div>
   

    {% endblock %}