{% extends 'base.html' %}

{% block content %}
    <h2>Edit Event</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="eventName">Event Name:</label><br>
        <input type="text" id="eventName" name="eventName" value="{{ event.eventName }}" required><br>
        <label for="date">Date:</label><br>
        <input type="text" id="date" name="date" value="{{ event.date }}" required><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" value="{{ event.location }}" required><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ event.description }}</textarea><br><br>
        <div class="form-group">
            <label for="tag">Tag</label>
            <select class="form-control" id="tag" name="tag" required>
                {% for status in EventStatus %}
                    <option value="{{ status.name }}" {% if event.tag == status %}selected{% endif %}>{{ status.value }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="image">Event Image:</label><br>
        <input type="file" id="image_url" name="image_url" accept="image/*"><br><br>   
        <br><br>
        <input type="submit" value="Update Event">
    </form>
    <a href="{{ url_for('admin_index') }}">Back to Events List</a>

    {% endblock %}