{% extends 'base.html' %}

   
{% block content %}
        
        
    
        <div class="container mt-5 d-flex flex-column align-items-center">
            
            
            <div class="event-container w-100 mt-5 d-flex flex-column align-items-center">
                {% if events %}
                    {% for event in events %}
                        <!-- Event Card -->
                        <div class="card mb-4">
                            <a href="{{ url_for('admin_event_detail', event_id=event.eventId) }}" class="text-decoration-none text-dark">
                                <div class="row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ event.eventName }}</h5>
                                            <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
                                            <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
                                            <p class="card-text"><strong>Status:</strong> {{ event.tag.value }}</p>
                                            <p class="card-text"><strong>Votes:</strong> {{ event.votes }}</p>
                                        </div>
                                    </div>
                                    {% if event.image %}
                                        <div class="col-md-4">
                                            <img src="{{ url_for('static', filename='images/' + event.image) }}" class="img-fluid rounded-end" alt="Event Image" style="max-height:200px; object-fit:cover;">
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No events found.</p>
                {% endif %}
            </div>
        </div>
        
{% endblock %}
